body {
    background-color: #DFE0E2;
    color: #071013;
}


.logo {
    height: 100px;
    width: 100px;
}

.titleBar {
    background-color: #071013;
    
}

h1 {
    color: #75ABBC;
}


.breadcrumb {
    background-color:#A2AEBB;
    
}


a {
    color: #071013;
}

a:hover {
    color: #23B5D3;
}

.aside {
    background: url(img/Carl.jpg) 90% 30% / cover no-repeat;
}

.presentation {
    text-align: justify;
}

.article {
    height: 100%;
    text-align: justify;
}


.footer {
    background-color: #A2AEBB;
    height: auto;
}
